<!--
 * @Author: yuanaohua
 * @Date: 2021-03-24 14:35:19
 * @FilePath: /demo-vue3/demo-vue3/src/views/canvas/canvas.vue
-->
<template>
  <div>
      <h1>canvas练习</h1>
      <!-- 这个标签的兼容性是非常好的，除了ie9以下的浏览器外，其余的都支持这个标签 -->
      <canvas id="canvas">
          <!-- 不支持canvas时，浏览器会当成一个标签 -->
          您的浏览器版本过低，请升级浏览器或使用Chrome
      </canvas>
  </div>
</template>

<script>
import { onMounted } from '@vue/runtime-core'
export default {
  name:'canves',
  setup() {
    onMounted(()=>{
        let canvas =  document.getElementById("canvas")
        let ctx = canvas.getContext("2d")

        // 画一条简单的路径
        // // 开启路径
        // ctx.beginPath()
        // // 确定起始点
        // ctx.moveTo(0,0)
        // // 确定结束点
        // ctx.lineTo(100,100)
        // // 设置线段的宽度 
        // ctx.lineWidth = 6 
        // // 表示所描边的颜色
        // ctx.strokeStyle = 'green' 
        // // 上色
        // ctx.stroke()
        // // 关闭路径
        // ctx.closePath()


        // 画矩形
        // x与y表示作画矩形的左上角的顶点在使用这种方式时也要注意路径的问题  
        // ctx.rect(x,y,长,宽)  
        // 自动填充矩形的内部颜色，默认填充黑色，不需要注意路径的问题
        // ctx.fillRect(50,60,70,80)
        // 自动描边，这种方式不需要注意路径问题 
        // ctx.strokeRect(50,60,70,80)
        //  表示擦除当前的矩形的区域。
        // ctx.clearRect(50,60,70,80) 

        // 画弧角 arc(x,y,起始弧度,结束弧度,方向) 
        // ctx.moveTo(0,0)
        // ctx.lineTo(0,0)
        // ctx.arc(150,150,150,150,-Math.PI / 180 * 67,0)
        // ctx.closePath()
        // ctx.strokeStyle = 'green' 
        // ctx.stroke()

        // 画圆 arcTo(x1,y1,x2,y2,r)
        // ctx.moveTo(100,200)
        // ctx.arcTo(300,200,300,300,50)
        // ctx.stroke()

        //4.贝塞尔曲线
        // ctx.beginPath();
        // ctx.moveTo(150,150);

        // var cpx = 300, cpy = 100, x = 0, y = 0;
        // // 二次贝塞尔 就是有一个上帝之手
        // // cpx,cpy控制的点就像上帝之手 拽这个线，让其成为一条弯曲的线
        // // x，y 就是终点的横纵坐标，他也是下一个贝塞尔的起点
        // ctx.quadraticCurveTo(cpx,cpy,x,y);
        // // 三次贝塞尔 就是有两个上帝之手
        // // cpx2,cpy2是第一个上帝之手的xy坐标
        // // cpx3,cpy3是第二个上帝之手的xy坐标
        // // x2，y2 就是终点的横纵坐标，他也是下一个贝塞尔的起点
        // var cpx2 = 0, cpy2 = 100,cpx3 = 100, cpy3 = 0, x2 = 150, y2 = 150;
        // ctx.bezierCurveTo(cpx2,cpy2,cpx3,cpy3,x2,y2);
        // ctx.closePath();
        // ctx.stroke();

        //  5.图案填充
        // var imgObj=new Image();
        // imgObj.src="https://dss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2026506810,1548839222&fm=26&gp=0.jpg";
        // imgObj.onload=function(){
        //     //贴一张照片 参数依次为图片对象，图片左上角的x，y，图片的宽，高
        //     ctx.drawImage(imgObj,0,0,200,200);
        //     // 贴一张照片并且填充 参数依次为图片对象，裁剪原图上的位置x,y(左上角)，裁剪的宽高。然后放在幕布上的位置（左上角），放的宽，高
        //     ctx.drawImage(imgObj,200,200,80,80,0,0,80,80);
        // }

        // 6.设置阴影
        // // 单独设置下颜色
        // ctx.fillStyle = "rgba(255,0,0, .9)" 
        // // 设置阴影颜色
        // ctx.shadowColor = "teal";
        // // 设置模糊级别，大于1且越高越模糊
        // ctx.shadowBlur = 10;
        // // 阴影水平距离
        // ctx.shadowOffsetX = -10;
        // // 阴影垂直距离
        // ctx.shadowOffsetY = 10;
        // ctx.fillRect(100, 100, 100, 100);



        // 7.设置渐变
        // 创建线性渐变的对象 参数：线性渐变的开始位置 x，y 渐变的结束位置x，y
        // var grd=ctx.createLinearGradient(0,0,0,100);
        // grd.addColorStop(0,"#FF0000");  //添加一个渐变颜色，0.0 与 1.0 之间，0位置是红。
        // grd.addColorStop(0.1,"#FF7F00");  //添加一个渐变颜色，0.0 与 1.0 之间，0.1位置是橙。
        // grd.addColorStop(0.2,"#FFFF00");  //添加一个渐变颜色，0.0 与 1.0 之间，0.2位置是黄。
        // grd.addColorStop(0.4,"#00FF00");  //添加一个渐变颜色，0.0 与 1.0 之间，0.4位置是绿。
        // grd.addColorStop(0.6,"#00FFFF");  //添加一个渐变颜色，0.0 与 1.0 之间，0.6位置是青。
        // grd.addColorStop(0.8,"#0000FF");  //添加一个渐变颜色，0.0 与 1.0 之间，0.8位置是蓝。
        // grd.addColorStop(1,"#8B00FF");  //添加一个渐变颜色，0.0 与 1.0 之间，1位置是紫。
        // ctx.fillStyle =grd; //关键点，把渐变设置到 填充的样式
        // ctx.rect(0,0,800,800);//绘制宽800高800的矩形。
        // ctx.fill(); // 填充
        // 还有径向渐变createRadialGradient()不再赘述

        // 8.坐标轴转化
        // ctx.translate(150, 150); //改变canvas坐标系，默认是左上角，现在把x=0,y=0设置在150，150点上
        // ctx.fillStyle ='red';
        // ctx.rect(0,0,100,100);//从x=0，y=0开始，绘制宽100高100的矩形。
        // ctx.fill();
        // 9.字体
        // ctx.fillStyle = "purple";               //设置填充颜色为紫色
        // ctx.strokeStyle='green'
        // ctx.font = '40px "微软雅黑"';           //设置字体
        // ctx.textBaseline = "bottom";            //设置字体底线对齐绘制基线
        // ctx.textAlign = "left";                 //设置字体对齐的方式
        
        //画一个小圆确定位置
        // ctx.arc(100,100,10,0*Math.PI,2*Math.PI,false);
        // ctx.stroke();
        // ctx.strokeText( "Top-g", 100, 100 );    //写描边文字
        // ctx.fillText( "Top-g", 100, 100 );        //写填充文字


    })
  }
}
</script>

<style>
#canvas{
    width: 2000px;
    height: 2000px;
    border: 2px solid #eee;
    display: block;
    margin: 0 auto;
}
</style>