<!--
 * @Author: yuanaohua
 * @Date: 2021-03-16 11:13:27
 * @FilePath: /demo-vue3/demo-vue3/src/views/vue3/detail.vue
-->
<template>
  <div class="detail">
   
  </div>
</template>

<script>
export default {
  name: 'detail3'
}
</script>