<!--
 * @Author: yuanaohua
 * @Date: 2021-03-21 13:19:58
 * @FilePath: /demo-vue3/demo-vue3/src/views/demo/compon/son1.vue
-->
<template>
  <div style="border:1px solid #ccc;margin:10px">
    <el-button type="primary" @click="add">第一个组件添加 </el-button>
    <el-button type="primary" @click="change">把对象挂在到window上并改变第一个对象中的name为对象</el-button>
    <input type="text" v-model="state.student[0].name">
    <div v-for="item in state.student" :key="item.id">
      <div>{{item.name}}==={{item.age}}</div>
    </div>
  </div>
</template>
<script>
import useRemoveModule from '../state'

export default {
  setup() {
    const {state,add,change} = useRemoveModule;
    return {state,add,change}
  },
}
</script>
