<!--
 * @Author: yuanaohua
 * @Date: 2021-03-21 13:20:00
 * @FilePath: /demo-vue3/demo-vue3/src/views/demo/compon/son2.vue
-->
<template>
  <div style="border:1px solid #ccc;margin:10px">
    <el-button type="primary" @click="jian">第二个组件减少</el-button>
    <div v-for="item in state.student" :key="item.id">
      <div>{{item.name}}==={{item.age}}</div>
    </div>
  </div>
</template>
<script>
import useRemoveModule from '../state'
export default {
  setup() {
    const {state,jian} = useRemoveModule;
    return {state,jian}
  },
}
</script>
