<!--
 * @Author: lzy
 * @Date: 2021-03-21 12:47:40
 * @Title: 
 * @Description: 
-->
<template>
<div>
  <div>我是父组件--我的两个组件共同使用</div>
  <div>{{state.student}}</div>
  <br/>
  <br/>
  <br/>
  <son1/>
  <br/>
  <br/>
  <br/>
  <son2/>
</div>
</template>

<script>
import son1 from './compon/son1.vue'
import son2 from './compon/son2.vue'
import useRemoveModule from './state'

export default {
  components: {
      son1,
      son2
    },
  setup(){
    const {state} = useRemoveModule;
    return {state}
  }
}
</script>

<style>

</style>