<template>
<div>
  <a-modal
    @contextmenu.prevent="contextMenu($event)"
    v-model:visible="visible2"
    :mask="false"
    title="生成图片成功！"
    ok-text="下载"
    @ok="handleCopy"
    cancel-text="取消"
  >
    <img style="width: 300px" :src="tagObj.url" alt="" />
  </a-modal>
  <div ref="tagcanvasbox" class="tagcanvasbox box">
    <div class="leftBox">
      <!-- 圆 -->
      <div class="circular">
        <div class="circular" id="circular"></div>
      </div>
      <!-- 三角 -->
      <div class="tri-box">
        <div class="triangle"></div>
        <div id="triangle"></div>
      </div>
      <!-- 矩形 -->
      <div class="rectangle">
        <div class="rectangle" id="rectangle"></div>
      </div>
    </div>
    <div class="canvas_box">
      <canvas
        ref="tagcanvas"
        width="900"
        height="500"
        @mousedown="mouseDown($event)"
        @mouseup="mouseUp($event)"
        @mousemove="mouseMove($event)"
        @contextmenu.prevent="contextMenu($event)"
        @mouseout="mouseOut($event)"
        @mousewheel="mousewheel($event)"
      ></canvas>
    </div>
  </div>
  </div>
</template>
<script>
export default {
  name: "canvas",
  data() {
    return {
      ctx: "",
      tagObj: {
        newrecsObj: {},
        recs: [
          {
            h: 100,
            w: 100,
            x: 100,
            y: 160,
            color: "rgba(111, 84, 153 , 0.8)",
            shape: 4,
          },
          {
            h: 85,
            w: 100,
            x: 250,
            y: 160,
            color: "rgba(228, 134, 50 , 0.8)",
            shape: 3,
          },
          {
            h: 100,
            w: 100,
            x: 400,
            y: 160,
            color: "rgba(0, 33, 66 , 0.8)",
            shape: 0,
          },
        ], //两个矩形的宽高与坐标
        x: 0, // 交叉轴的x
        y: 0, // 交叉轴的y
        url: "", // 保存图片URL
        radious: 5, // 边框可拖拽区间
        showLitRecs: true, // 显示9个可拖拽点
        recSize: 3, // 可拖拽点的宽高
        drag: false, // 要拖拽
        resize: false, // 要缩放
        draw: false, // 右击图形外边
        drawMove: false, //右击图形外边并且是否移动了,移动就画图 没有移动就显示方框
        moveStart: false,
        index: -1, //正在操作哪个矩形
        side: 0, // 代表9个区域
        startX: 0, // 拖拽起点
        startY: 0, // 拖拽起点
        isRightClickIn: false, // 是否正在使用右键点击并且再矩形内
        moveStartXY: {
          x: 0,
          y: 0,
        },
      },
      offset: { x: 0, y: 0 }, // 可视区域外
      scale: 1,
      scaleStep: 0.1,
      maxScale: 2,
      minScale: 1,
      isTopIndex: -1,
      visible: false,
      visible2: false,
    };
  },
  mounted() {
    //alpha属性 {alpha:false}是否支持透明度，不支持会绘制相对快一些
    this.ctx = this.$refs.tagcanvas.getContext("2d");
    //画老的矩形
    this.drawOldRecs(this.tagObj.recs, this.ctx);
    this.tagObj.url = this.$refs.tagcanvas.toDataURL(); // 每次画完就保存一下图片
    document.oncontextmenu = (e) => {
      // 取消默认事件
      e.preventDefault();
    };
    document.addEventListener("keydown", (e) => {
      if (this.tagObj.recs[this.tagObj.index]) {
        // 是左击了并且击了图案
        if (e.keyCode == 37 && this.tagObj.recs[this.tagObj.index].x > 0) {
          this.tagObj.recs[this.tagObj.index].x--;
        } else if (
          e.keyCode == 38 &&
          this.tagObj.recs[this.tagObj.index].y > 0
        ) {
          this.tagObj.recs[this.tagObj.index].y--;
        } else if (
          e.keyCode == 39 &&
          this.tagObj.recs[this.tagObj.index].x <
            this.$refs.tagcanvas.width - this.tagObj.recs[this.tagObj.index].w
        ) {
          this.tagObj.recs[this.tagObj.index].x++;
        } else if (
          e.keyCode == 40 &&
          this.tagObj.recs[this.tagObj.index].y <
            this.$refs.tagcanvas.height - this.tagObj.recs[this.tagObj.index].h
        ) {
          this.tagObj.recs[this.tagObj.index].y++;
        } else {
          // alert('到边边了')
        }
        this.clearCanvas(this.$refs.tagcanvas, this.ctx); // 边移动边清除
        this.drawRuler(this.$refs.tagcanvas, this.ctx, e); // 交叉辅助线
        this.drawOldRecs(this.tagObj.recs, this.ctx); //画老的矩形
      } else {
        // 是左击了并且击了图案
        let tagC_s = this.$refs.tagcanvas.style;
        let marginTop =
          tagC_s.marginTop === ""
            ? 0
            : Number(
                tagC_s.marginTop.substring(0, tagC_s.marginTop.length - 2)
              );
        let marginLeft =
          tagC_s.marginLeft === ""
            ? 0
            : Number(
                tagC_s.marginLeft.substring(0, tagC_s.marginLeft.length - 2)
              );
        console.log(marginLeft, "kanakn");
        if (e.keyCode == 37) {
          //左
          console.log(marginLeft, "sdhjkfhksdjhkjdshkjfhjs--");
          console.log(marginLeft--, "-------------");
          this.$refs.tagcanvas.style.marginLeft = marginLeft-- + "px";
        }
        if (e.keyCode == 39) {
          //右
          console.log(marginLeft++, "marginLeft++");
          this.$refs.tagcanvas.style.marginLeft = marginLeft++ + "px";
        }
        if (e.keyCode == 38) {
          //上
          console.log(marginTop, "sdhjkfhksdjhkjdshkjfhjs--");
          console.log(marginTop--, "-------------");
          this.$refs.tagcanvas.style.marginTop = marginTop-- + "px";
        }
        if (e.keyCode == 40) {
          //下
          console.log(marginTop, "sdhjkfhksdjhkjdshkjfhjs--");
          console.log(marginTop++, "-------------");
          this.$refs.tagcanvas.style.marginTop = marginTop++ + "px";
        }
      }
    });
    // 拖拽
    this.drag("triangle");
    this.drag("circular");
    this.drag("rectangle");
  },
  methods: {
    handleCopy() {
      let imgData = this.tagObj.url; //填写你的base64
      this.downloadFile("canvas.png", imgData);
    },
    //下载
    downloadFile(fileName, content) {
      let aLink = document.createElement("a");
      let blob = this.base64ToBlob(content); //new Blob([content]);

      let evt = document.createEvent("HTMLEvents");
      evt.initEvent("click", true, true); //initEvent 不加后两个参数在FF下会报错  事件类型，是否冒泡，是否阻止浏览器的默认行为
      aLink.download = fileName;
      aLink.href = URL.createObjectURL(blob);

      // aLink.dispatchEvent(evt);
      aLink.click();
    },
    //base64转blob
    base64ToBlob(code) {
      let parts = code.split(";base64,");
      let contentType = parts[0].split(":")[1];
      let raw = window.atob(parts[1]);
      let rawLength = raw.length;

      let uInt8Array = new Uint8Array(rawLength);

      for (let i = 0; i < rawLength; ++i) {
        uInt8Array[i] = raw.charCodeAt(i);
      }
      return new Blob([uInt8Array], { type: contentType });
    },
    getOffsetLeft(obj) {
      //获取元素距离浏览器左侧距离
      var tmp = obj.offsetLeft;
      var node = obj.offsetParent;
      while (node != null) {
        tmp += node.offsetLeft;
        node = node.offsetParent;
      }
      return tmp;
    },
    getOffsetTop(obj) {
      //获取元素距离浏览器顶部距离
      var tmp = obj.offsetTop;
      var node = obj.offsetParent;
      while (node != null) {
        tmp += node.offsetTop;
        node = node.offsetParent;
      }
      return tmp;
    },
    drag(id) {
      //实例化拖拽
      var odiv = document.getElementById(id);
      var that = this;
      var flag = false;
      odiv.onmousedown = function (ev) {
        var ev = ev || event;
        var disX = ev.clientX - odiv.offsetLeft;
        var disY = ev.clientY - odiv.offsetTop;
        document.onmousemove = function (ev2) {
          var ev2 = ev2 || event;
          var left = ev2.clientX - disX;
          var top = ev2.clientY - disY;
          var w =
            document.documentElement.clientWidth || document.body.clientWidth;
          var h =
            document.documentElement.clientHeight || document.body.clientHeight;
          if (left > w - odiv.offsetWidth) {
            left = w - odiv.offsetWidth;
          }
          if (left < 0) {
            left = 0;
          }
          if (top < 0) {
            top = 0;
          }
          if (top > h - odiv.offsetHeight) {
            top = h - odiv.offsetHeight;
          }
          odiv.style.left = left + "px";
          odiv.style.top = top + "px";
        };
        document.onmouseup = function (ev2) {
          var currentTop = that.getOffsetTop(odiv);
          var currentLeft = that.getOffsetLeft(odiv);
          var canvasTop = that.getOffsetTop(that.$refs.tagcanvas);
          var canvasBottom =
            that.getOffsetTop(that.$refs.tagcanvas) +
            that.$refs.tagcanvas.height;
          var canvasLeft = that.getOffsetLeft(that.$refs.tagcanvas);
          var canvasRight =
            that.getOffsetLeft(that.$refs.tagcanvas) +
            that.$refs.tagcanvas.width;
          if (
            currentTop >= canvasTop &&
            currentTop <= canvasBottom &&
            currentLeft >= canvasLeft &&
            currentLeft <= canvasRight
          ) {
            //两个矩形的宽高与坐标
            if (!flag) {
              that.clearCanvas(that.$refs.tagcanvas, that.ctx); // 清除canvas
              if (odiv.id === "rectangle") {
                //矩形
                that.tagObj.recs.push({
                  h: 100 / that.scale,
                  w: 100 / that.scale,
                  x: (currentLeft - canvasLeft - that.offset.x) / that.scale,
                  y: (currentTop - canvasTop - that.offset.y) / that.scale,
                  color: "rgba(111, 84, 153 , 0.8)",
                  shape: 4,
                });
              } else if (odiv.id === "triangle") {
                //三角
                that.tagObj.recs.push({
                  h: 100 / that.scale,
                  w: 100 / that.scale,
                  x: (currentLeft - canvasLeft - that.offset.x) / that.scale,
                  y: (currentTop - canvasTop - that.offset.y) / that.scale,
                  color: "rgba(228, 134, 50 , 0.8)",
                  shape: 3,
                });
              } else if (odiv.id === "circular") {
                //圆
                that.tagObj.recs.push({
                  h: 100 / that.scale,
                  w: 100 / that.scale,
                  x: (currentLeft - canvasLeft - that.offset.x) / that.scale,
                  y: (currentTop - canvasTop - that.offset.y) / that.scale,
                  color: "rgba(0, 33, 66 , 0.8)",
                  shape: 0,
                });
              }
              that.drawOldRecs(that.tagObj.recs, that.ctx); //画老的矩形
              flag = true;
            }
          }
          odiv.style.left = "unset";
          odiv.style.top = "unset";
          flag = false;
          document.onmousemove = null;
        };
      };
    },
    // 中断
    mouseOut(e) {
      let dom = this.$refs.tagcanvas;
      let x = e.clientX; //此时鼠标区域距离body左边
      let y = e.clientY; //此时鼠标区域距离body上边
      let domx1 = dom.offsetLeft; //DOM左侧距离左侧距离
      let domy1 = dom.offsetTop; //DOM上测距离顶部距离
      let domx2 = dom.offsetLeft + dom.offsetWidth; //DOM右侧距离左侧距离
      let domy2 = dom.offsetTop + dom.offsetHeight; //DOM下测距离顶部距离
      if (x < domx1 || x > domx2 || y < domy1 || y > domy2) {
        // 如果鼠标落脚在canvas外边了
        this.clearCanvas(this.$refs.tagcanvas, this.ctx); // 清除canvas
        this.drawOldRecs(this.tagObj.recs, this.ctx); // 重新画所有存在的矩形，交叉辅助线没有了
      }
    },
    // 按下 OK
    mouseDown(e) {
      const canvasPosition = this.getCanvasPosition(e, this.offset, this.scale);
      this.tagObj.x = canvasPosition.x; // 每次落脚的落脚点为轴线圆心
      this.tagObj.y = canvasPosition.y; // 每次落脚的落脚点为轴线圆心
      // 每执行依次beginpath(),检验就会变成之后的,辅助线，区域框，图形都在移动中重复的画着，故这里不适用
      // console.log(this.ctx.isPointInPath(canvasPosition.y, canvasPosition.y))
      //得到落点所在框的序数
      this.tagObj.index = this.getEventIndex(
        this.tagObj.recs,
        this.tagObj.x,
        this.tagObj.y,
        this.tagObj.radious
      );
      if (e.button == 2) {
        // e.button==2 代表是右键
        if (this.tagObj.index >= 0) {
          // 并且在矩形里
          this.tagObj.isRightClickIn = true;
          this.removeBox();
        } else {
          this.removeBoxIn();
          this.tagObj.draw = true; // 这时候鼠标移动（mouseMove）就会添加矩形
        }
        return;
      } else {
        this.removeBox();
        this.removeBoxIn();
      }
      if (this.tagObj.index >= 0) {
        //在矩形里，移动或者放缩
        this.tagObj.startX = this.tagObj.recs[this.tagObj.index].x; // 每次拖拽的落脚点都要记录，不然就从左上角开始了
        this.tagObj.startY = this.tagObj.recs[this.tagObj.index].y; // 每次拖拽的落脚点都要记录，不然就从左上角开始了
        // 9个区域
        this.tagObj.side = this.getEventArea(
          this.tagObj.recs[this.tagObj.index],
          this.tagObj.x,
          this.tagObj.y,
          this.tagObj.radious
        );
        if (this.tagObj.side < 9) {
          // 并且在边边上
          this.tagObj.resize = true; // 这时候鼠标移动（mouseMove）就会缩放
        } else {
          //并且在里边
          this.tagObj.drag = true; // 这时候鼠标移动（mouseMove）就会拖动
        }
        //移动过程9个小框也在动
        this.drawLitRecs(
          this.ctx,
          this.prepareLitRecs(this.tagObj.recs[this.tagObj.index]),
          this.tagObj.recSize
        );
      } else {
        // console.log('鼠标左击图形外边')
        this.tagObj.moveStart = true;
        this.tagObj.moveStartXY.x = canvasPosition.x;
        this.tagObj.moveStartXY.y = canvasPosition.y;
      }
      // 配置鼠标的css样式
      this.changeResizeCursor(this.$refs.tagcanvas, this.tagObj.side); //判断小框类型
    },
    // 抬起 OK
    mouseUp(e) {
      if (this.tagObj.isRightClickIn == true) {
        // 如果是右键点击图案里边
        this.tagObj.index = this.getEventIndex(
          this.tagObj.recs,
          this.tagObj.x,
          this.tagObj.y,
          this.tagObj.radious
        );
        // this.visible = true // 显示出确认弹层
        this.creatBoxIn(e.clientX, e.clientY, e);
        this.tagObj.isRightClickIn = false;
        return;
      }
      // 这里往下是左键抬起
      this.tagObj.resize = false; // 还原 缩放标识
      if (this.tagObj.drag == true) {
        //移动过程9个小框也在动
        this.drawLitRecs(
          this.ctx,
          this.prepareLitRecs(this.tagObj.recs[this.tagObj.index]),
          this.tagObj.recSize
        );
        this.tagObj.drag = false; // 还原 拖拽标识
      }
      if (this.tagObj.drawMove == false && this.tagObj.draw) {
        console.log("要显示弹框", e.clientX, e.clientY);
        this.creatBox(e.clientX, e.clientY, e); // 添加弹出矩形
        this.tagObj.draw = false; // 还原添加矩形标识
      }
      if (this.tagObj.drawMove && this.tagObj.draw) {
        console.log("要添加图案");
        // 如果是在添加矩形
        this.addToRecs(this.$refs.tagcanvas, e); //那么就添加框
        this.tagObj.draw = false; // 还原添加矩形标识
        this.tagObj.drawMove = false;
      }
      if (this.tagObj.moveStart) {
        this.tagObj.moveStart = false;
      }
    },
    // 添加外部弹出矩形
    creatBox(clientX = 0, clientY = 0, e) {
      if (document.getElementById("creatBox")) {
        document.getElementById("creatBox").style.left = clientX + "px";
        document.getElementById("creatBox").style.top = clientY + "px";
      } else {
        let box = document.createElement("div");
        let innerHTMl = `<div style='padding:4px;cursor:pointer' id='remove'>清空画板</div>
                        <div style='padding:4px;cursor:pointer' id='add'>添加图形</div>
                        <div style='padding:4px;cursor:pointer' id='install'>生成图片</div>`;
        box.innerHTML = innerHTMl;
        box.id = "creatBox";
        box.style.backgroundColor = "#ffffff";
        box.style.position = "fixed";
        box.style.left = clientX + "px";
        box.style.top = clientY + "px";
        box.style.width = "100px";
        document.getElementById("app").appendChild(box);
        //清空画板
        document.getElementById("remove").addEventListener("click", () => {
          this.tagObj.recs.length = 0;
          this.clearCanvas(this.$refs.tagcanvas, this.ctx); // 边移动边清除
          this.drawRuler(this.$refs.tagcanvas, this.ctx, e); // 交叉辅助线
          this.drawOldRecs(this.tagObj.recs, this.ctx); // 画老的矩形
          this.removeBox();
          this.removeBoxIn();
        });
        //添加图形
        document.getElementById("add").addEventListener("click", () => {
          this.addToRecs(this.$refs.tagcanvas, e); //那么就添加框
          this.clearCanvas(this.$refs.tagcanvas, this.ctx); // 边移动边清除
          this.drawRuler(this.$refs.tagcanvas, this.ctx, e); // 交叉辅助线
          this.drawOldRecs(this.tagObj.recs, this.ctx); //画老的矩形
          this.removeBox();
          this.removeBoxIn();
        });
        // 保存图片
        document.getElementById("install").addEventListener("click", () => {
          this.clearCanvas(this.$refs.tagcanvas, this.ctx); // 边移动边清除
          this.drawOldRecs(this.tagObj.recs, this.ctx); //画老的矩形
          this.tagObj.url = this.$refs.tagcanvas.toDataURL(); // 保存一下图片
          this.visible2 = true;
          this.removeBox();
          this.removeBoxIn();
        });
      }
    },
    // 添加内部部弹出矩形
    creatBoxIn(clientX = 0, clientY = 0) {
      if (document.getElementById("creatBoxIn")) {
        document.getElementById("creatBoxIn").style.left = clientX + "px";
        document.getElementById("creatBoxIn").style.top = clientY + "px";
      } else {
        let box = document.createElement("div");
        box.innerHTML = `<div style='padding:4px;cursor:pointer' id='removeIn'>删除图形</div>`;
        box.id = "creatBoxIn";
        box.style.backgroundColor = "#ffffff";
        box.style.position = "fixed";
        box.style.left = clientX + "px";
        box.style.top = clientY + "px";
        box.style.width = "100px";
        document.getElementById("app").appendChild(box);
        //清空画板
        document.getElementById("removeIn").addEventListener("click", () => {
          // 删除掉这个矩形的数据
          this.tagObj.recs.splice(this.tagObj.index, 1);
          this.clearCanvas(this.$refs.tagcanvas, this.ctx); // 边移动边清除
          this.drawOldRecs(this.tagObj.recs, this.ctx); //画老的矩形
          this.removeBoxIn();
          this.tagObj.isRightClickIn = false; // 还原右键统计
          this.visible = false;
        });
      }
    },
    // 删除弹出矩形
    removeBox() {
      if (document.getElementById("creatBox")) {
        document.getElementById("creatBox").remove();
      }
    },
    // 删除弹出矩形
    removeBoxIn() {
      if (document.getElementById("creatBoxIn")) {
        document.getElementById("creatBoxIn").remove();
      }
    },
    // 移动 OK
    mouseMove(e) {
      const canvasPosition = this.getCanvasPosition(e, this.offset, this.scale);
      var index;
      var side;
      this.clearCanvas(this.$refs.tagcanvas, this.ctx); // 边移动边清除
      this.drawRuler(this.$refs.tagcanvas, this.ctx, e); // 交叉辅助线
      this.drawOldRecs(this.tagObj.recs, this.ctx); //画老的矩形
      index = this.getEventIndex(
        this.tagObj.recs,
        canvasPosition.x,
        canvasPosition.y,
        this.tagObj.radious
      ); // 获得鼠标的落地所在的矩形
      if (index > -1) {
        side = this.getEventArea(
          this.tagObj.recs[index],
          canvasPosition.x,
          canvasPosition.y,
          this.tagObj.radious
        ); //得到落点在一个框中的区域
      } else {
        side = 0;
      }
      this.changeResizeCursor(this.$refs.tagcanvas, side); // 配置鼠标样式
      if (this.tagObj.showLitRecs && index >= 0 && side > 0) {
        // 说明在方框里呢（包括在边边）
        this.drawLitRecs(
          this.ctx,
          this.prepareLitRecs(this.tagObj.recs[index]),
          this.tagObj.recSize
        ); // 在方框里就会出现四周九个可操作点
      }
      if (this.tagObj.draw) {
        if (
          this.tagObj.x == canvasPosition.x ||
          this.tagObj.y == canvasPosition.y
        ) {
          console.log("约等于没有移动");
        } else {
          console.log("移动了");
          this.tagObj.drawMove = true;
          this.removeBox();
          this.removeBoxIn();
        }
        // 在方框外按下的状态 添加矩形
        this.drawRec(this.$refs.tagcanvas, this.ctx, e);
      }
      if (this.tagObj.drag) {
        // 在方框里按下的状态 拖拽
        this.moveRec(
          this.$refs.tagcanvas,
          this.tagObj.recs[this.tagObj.index],
          e
        );
      }
      if (this.tagObj.resize) {
        // 在方框边框上按下的状态 缩放
        this.reSizeRec(
          this.tagObj.side,
          this.tagObj.recs[this.tagObj.index],
          canvasPosition.x,
          canvasPosition.y,
          this.tagObj.recSize
        );
      }
      if (this.tagObj.moveStart) {
        // console.log('移动画布中')
        this.offset.x += canvasPosition.x - this.tagObj.moveStartXY.x;
        this.offset.y += canvasPosition.y - this.tagObj.moveStartXY.y;
        this.ctx.setTransform(
          this.scale,
          0,
          0,
          this.scale,
          this.offset.x,
          this.offset.y
        );
        this.clearCanvas(this.$refs.tagcanvas, this.ctx); // 边移动边清除
        this.drawRuler(this.$refs.tagcanvas, this.ctx, e); // 交叉辅助线
        this.drawOldRecs(this.tagObj.recs, this.ctx); //画老的矩形
      }
    },
    // 鼠标滚轮事件
    mousewheel(e) {
      e.preventDefault();
      const canvasPosition = this.getCanvasPosition(e, this.offset, this.scale);
      const dealtX = canvasPosition.x * this.scaleStep; // 当前坐标/缩放系数*缩放系数升值 也就是滚出了canvas视口的数量
      const dealtY = canvasPosition.y * this.scaleStep;
      if (e.wheelDelta > 0 && this.scale < this.maxScale) {
        console.log("up");
        this.offset.x -= dealtX;
        this.offset.y -= dealtY;
        this.scale += this.scaleStep;
      } else if (e.wheelDelta <= 0 && this.scale > this.minScale) {
        console.log("down");
        this.offset.x += dealtX;
        this.offset.y += dealtY;
        this.scale -= this.scaleStep;
      }
      this.ctx.setTransform(
        this.scale,
        0,
        0,
        this.scale,
        this.offset.x,
        this.offset.y
      );
      this.clearCanvas(this.$refs.tagcanvas, this.ctx); // 边移动边清除
      this.drawRuler(this.$refs.tagcanvas, this.ctx, e); // 交叉辅助线
      this.drawOldRecs(this.tagObj.recs, this.ctx); //画老的矩形
    },
    // 获取鼠标距边测实际的距离
    getCanvasPosition(e, offset = { x: 0, y: 0 }, scale = 1) {
      return {
        x: (e.offsetX - offset.x) / scale,
        y: (e.offsetY - offset.y) / scale,
      };
    },
    // 取消默认行为 OK
    contextMenu(e) {
      return false;
    },
    //得到落点所在框的序数，-1代表没有落在任何框内 OK
    getEventIndex(recs, x, y, radious) {
      if (recs.length == 0) {
        return -1;
      }
      for (var i = 0; i < recs.length; i++) {
        if (
          x > recs[i].x - radious &&
          x < recs[i].x + recs[i].w + radious &&
          y > recs[i].y - radious &&
          y < recs[i].y + recs[i].h + radious
        ) {
          return i;
        }
        if (i == recs.length - 1) {
          return -1;
        }
      }
    },
    // 橡皮擦 OK
    clearCanvas(canvas, ctx) {
      this.ctx.clearRect(
        -this.offset.x / this.scale,
        -this.offset.y / this.scale,
        this.$refs.tagcanvas.width / this.scale,
        this.$refs.tagcanvas.height / this.scale
      );
    },
    //得到落点在一个框中的区域 OK
    getEventArea(data, x, y, radious) {
      if (x > data.x - radious && x < data.x + radious) {
        // =========左边
        if (y > data.y - radious && y < data.y + radious) {
          // 左上
          return 1;
        } else if (y > data.y + radious && y < data.y + data.h - radious) {
          //左中
          return 2;
        } else if (
          y > data.y + data.h - radious &&
          y < data.y + data.h + radious
        ) {
          // 左下
          return 3;
        }
      } else if (
        x > data.x + data.w - radious &&
        x < data.x + data.w + radious
      ) {
        // 右边
        if (y > data.y - radious && y < data.y + radious) {
          // =======右上
          return 4;
        } else if (y > data.y + radious && y < data.y + data.h - radious) {
          // 右中
          return 5;
        } else if (
          y > data.y + data.h - radious &&
          y < data.y + data.h + radious
        ) {
          // 右下
          return 6;
        }
      } else {
        if (
          y > data.y - radious &&
          y < data.y + radious &&
          x > data.x + radious &&
          x < data.x + data.w - radious
        ) {
          // 上中
          return 7;
        } else if (
          y > data.y + data.h - radious &&
          y < data.y + data.h + radious &&
          x > data.x + radious &&
          x < data.x + data.w - radious
        ) {
          // 下中
          return 8;
        } else {
          return 9;
        }
      }
    },
    // 画出9个点的矩形 OK
    drawLitRecs(ctx, data, size) {
      for (var i = 0; i < data.length; i++) {
        ctx.beginPath();
        ctx.fillStyle = "#888";
        ctx.fillRect(data[i][0] - size / 2, data[i][1] - size / 2, size, size);
      }
    },
    // 配置鼠标的css样式 OK
    changeResizeCursor(canvas, index) {
      switch (index) {
        case 0:
          canvas.style.cursor = "crosshair";
          break;
        case 1:
          canvas.style.cursor = "se-resize";
          break;
        case 2:
          canvas.style.cursor = "e-resize";
          break;
        case 3:
          canvas.style.cursor = "ne-resize";
          break;
        case 4:
          canvas.style.cursor = "sw-resize";
          break;
        case 5:
          canvas.style.cursor = "w-resize";
          break;
        case 6:
          canvas.style.cursor = "nw-resize";
          break;
        case 7:
          canvas.style.cursor = "s-resize";
          break;
        case 8:
          canvas.style.cursor = "n-resize";
          break;
        case 9:
          canvas.style.cursor = "move";
          break;
        default:
          canvas.style.cursor = "default";
      }
    },
    // 添加矩形 OK
    addToRecs(canvas, e) {
      var rec = {};
      const canvasPosition = this.getCanvasPosition(e, this.offset, this.scale);
      rec.x =
        this.tagObj.x > canvasPosition.x ? canvasPosition.x : this.tagObj.x;
      rec.y =
        this.tagObj.y > canvasPosition.y ? canvasPosition.y : this.tagObj.y;
      rec.w =
        Math.abs(canvasPosition.x - this.tagObj.x) ||
        Math.floor(Math.random() * 200 + 60); // 弹框添加为0 加一个随机数
      rec.h =
        Math.abs(canvasPosition.y - this.tagObj.y) ||
        Math.floor(Math.random() * 200 + 60); // 弹框添加为0 加一个随机数
      rec.color = [
        "rgb(254, 67, 101)",
        "rgb(252, 157, 154)",
        "rgb(249, 205, 173)",
        "rgb(200, 200, 169)",
        "rgb(131, 175, 155)",
      ][Math.floor(Math.random() * 5 + 0)];
      rec.shape = [0, 3, 4][Math.floor(Math.random() * 3 + 0)]; // 随机数
      //rec.type = currentSelectedType;
      this.tagObj.newrecsObj = rec; //最后一个添加的矩形
      this.tagObj.recs.push(this.tagObj.newrecsObj); // 推向矩形数组里
    },
    // 交叉辅助线 OK
    drawRuler(canvas, ctx, e) {
      const canvasPosition = this.getCanvasPosition(e, this.offset, this.scale);
      ctx.beginPath();
      ctx.lineWidth = 1;
      ctx.strokeStyle = "#515050";
      ctx.setLineDash([5, 5]);
      ctx.moveTo(canvasPosition.x, -this.offset.y / this.scale);
      ctx.lineTo(
        canvasPosition.x,
        (canvas.height - this.offset.y) / this.scale
      );
      ctx.moveTo(-this.offset.x / this.scale, canvasPosition.y);
      ctx.lineTo((canvas.width - this.offset.x) / this.scale, canvasPosition.y);
      ctx.stroke();
    },
    //获得矩形9个点的坐标 OK
    prepareLitRecs(data) {
      var li = [];
      li[0] = [data.x, data.y]; // 左上坐标
      li[1] = [data.x, data.y + data.h / 2]; // 左中坐标
      li[2] = [data.x, data.y + data.h]; // 左下坐标
      li[3] = [data.x + data.w, data.y]; // 右上坐标
      li[4] = [data.x + data.w, data.y + data.h / 2]; // 右中坐标
      li[5] = [data.x + data.w, data.y + data.h]; // 右下坐标
      li[6] = [data.x + data.w / 2, data.y]; // 上中坐标
      li[7] = [data.x + data.w / 2, data.y + data.h]; // 下中坐标
      return li;
    },
    //画老的矩形 OK
    drawOldRecs(recs, ctx) {
      //鼠标画图后
      if (recs.length == 0) {
        return 0;
      }
      for (var i = 0; i < recs.length; i++) {
        if (recs[i].shape == 4) {
          // 四边形
          this.ctx.beginPath();
          ctx.lineWidth = 3;
          ctx.fillStyle = recs[i].color; //自定义颜色
          ctx.fillRect(recs[i].x, recs[i].y, recs[i].w, recs[i].h);
        }
        if (recs[i].shape == 3) {
          //三角形
          //填充三角形（等边）
          ctx.beginPath();
          ctx.moveTo(recs[i].x + recs[i].w / 2, recs[i].y); //从A（100,0）开始
          ctx.lineTo(recs[i].x, recs[i].y + recs[i].h);
          ctx.lineTo(recs[i].x + recs[i].w, recs[i].y + recs[i].h); //B(0,173)-C(200,173)
          // var grd = ctx.createLinearGradient(0, 0, 200, 0); //使用渐变颜色填充,从(0,0)到(200,0) （左到右）
          // grd.addColorStop(0, "#4CE8B2"); //起始颜色
          // grd.addColorStop(1, "#EFD458"); //终点颜色
          // ctx.fillStyle = grd; //以上面定义的渐变填充
          ctx.fillStyle = recs[i].color;
          ctx.fill(); //闭合形状并且以填充方式绘制出来
          ctx.closePath();
        }
        if (recs[i].shape == 0) {
          ctx.beginPath();
          ctx.fillStyle = recs[i].color;
          ctx.ellipse(
            recs[i].x + recs[i].w / 2,
            recs[i].y + recs[i].h / 2,
            recs[i].w / 2,
            recs[i].h / 2,
            0,
            0,
            Math.PI * 2,
            false
          );
          // ctx.arc(recs[i].x,recs[i].y,recs[i].w,0*Math.PI,2*Math.PI,false);
          ctx.fill();
          ctx.closePath();
        }
      }
    },
    // 鼠标拖拽画新矩形 OK
    drawRec(canvas, ctx, e) {
      const canvasPosition = this.getCanvasPosition(e, this.offset, this.scale);
      ctx.fillRect(
        this.tagObj.x,
        this.tagObj.y,
        canvasPosition.x - this.tagObj.x,
        canvasPosition.y - this.tagObj.y
      );
    },
    // 拖拽让矩形移动 OK
    moveRec(canvas, rec, e) {
      const canvasPosition = this.getCanvasPosition(e, this.offset, this.scale);
      rec.x = this.tagObj.startX + canvasPosition.x - this.tagObj.x;
      rec.y = this.tagObj.startY + canvasPosition.y - this.tagObj.y;
    },
    // 9个点对应缩放 OK
    reSizeRec(index, rec, ex, ey, recSize) {
      var temX = rec.x;
      var temY = rec.y;
      if (index < 4 && temX + rec.w - ex > recSize) {
        rec.x = ex;
      }
      if (
        (index == 1 || index == 4 || index == 7) &&
        temY + rec.h - ey > recSize
      ) {
        rec.y = ey;
      }
      if (index < 4) {
        if (temX + rec.w - ex > recSize) {
          rec.w = temX + rec.w - ex;
        }
      } else if (index < 7) {
        if (ex - temX > recSize) {
          rec.w = ex - temX;
        }
      }
      if (index == 1 || index == 4 || index == 7) {
        if (temY + rec.h - ey > recSize) {
          rec.h = temY + rec.h - ey;
        }
      } else if (index == 3 || index == 6 || index == 8) {
        if (ey - temY > recSize) {
          rec.h = ey - temY;
        }
      }
    },
  },
};
</script>
<style scoped>
.tagcanvasbox {
  width: 100%;
  height: 100vh;
}
.canvas_box {
  width: 700px;
  height: 400px;
  overflow: hidden;
  background-color: #c0e7ed;
}
canvas {
  background-color: #c0e7ed;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-right: 0px;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.box {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
}
.canvas {
  background: #ddd;
  max-height: 800px;
  cursor: pointer;
}
.leftBox {
  width: 200px;
  max-height: 800px;
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #c0e7ed;
}
.circular {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(0, 33, 66, 0.8);
}
.tri-box {
  width: 100px;
  height: 85px;
}
.triangle {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 85px solid rgba(228, 134, 50, 0.8);
}
.rectangle {
  width: 100px;
  height: 100px;
  background: rgba(111, 84, 153, 0.8);
}
#circular {
  position: absolute;
}
#triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 85px solid rgba(228, 134, 50, 0.8);
  position: absolute;
  z-index: 1;
}
#rectangle {
  position: absolute;
}
</style>